{% trans %}
<p>Nation Data is Nation Media Groups Data portal</p>

<p>This platfrom is build on open source software and is available on Nation Media's public repository. The service seeks to be a data source
for jounralists,staff and the general public. Most data worked on here is realeased under an open licence and is free for users</p>

<p>Special mention goes to the Africa Media Initiative, Open Institute and the World Bank for making this possible. Special mention also goes to the Nation Data Champions working groups on providing some of the data you see on this platform.</p>

<p>Repository: <a href="http://www.github.com/">http://github.com/</a><br />
{% endtrans %}
